body {
    background-color: rgb(233, 233, 233) !important;
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 400px 400px 400px;  
    grid-gap: 10px;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 400px 400px 400px;  
    grid-gap: 10px;
}

.banner {
    height: 120px;
    margin-bottom: 20px;
    border-bottom: 2px solid grey;
}

.titleText {
    text-align: center;
    font-size: 40px;
    font-family: 'Share Tech Mono', monospace;

}

.sensorChart {
    width: 400px;
    margin-top: 40px;
    box-shadow: 4px 5px 13px darkgrey;
    border: 1px solid lightgrey;
}

#map {
    height: 300px;  /* The height is 400 pixels */
    width: 400px;  /* The width is the width of the web page */
}

.temp_gauge {
    margin-left: 47px !important;
    margin-top: 40px !important;

}





